table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}

table, th, td {
    border: 1px solid black;
}

.table-container {
    width: 98%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
}